.col {
    font-size: 10px;
    height: 30px;
    display: inline-block;
}
.pokeicon {
    width: 30px;
}
.pokename {
    width: 130px;
}
.poketype {
    width: 75px;
}
.pokeability {
    width: 120px;
    text-align: center;
}
.pokestat {
    width: 25px;
}
.movename {
    width: 155px;
}
.movetype {
    width: 35px;
}
.movecategory {
    width: 35px;
}
.movedamage {
    width: 30px;
}
.moveaccuracy {
    width: 50px;
}
.movepp {
    width: 23px;
}
.moveprior {
    width: 23px;
}
.li {
    vertical-align: center;
}
#listsetter {
    list-style-type: none;
    margin: 0;
    display: block;
    clear: both;
    word-wrap: normal;
}