@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
body, input, button {
    font-family: 'Hanna', sans-serif;
}

.col {
    font-size: 12px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.pokeicon {
    width: 40px;
}
.pokename {
    width: 130px;
}
.poketype {
    width: 75px;
}
.pokeability {
    width: 120px;
    text-align: center;
}
.pokehiddenability {
    width: 120px;
    text-align: center;
}
.pokestat {
    width: 25px;
}
.movename {
    width: 155px;
}
.movetype {
    width: 35px;
}
.movecategory {
    width: 50px;
}
.movedamage {
    width: 30px;
}
.moveaccuracy {
    width: 50px;
}
.movepp {
    width: 23px;
}
.moveprior {
    width: 35px;
}
.itemname, .itemengname, .itemjapname {
    width: 110px;
}
.result {
    height: 50px;
    vertical-align: middle;
}
#listsetter {
    list-style-type: none;
    margin: 0;
    display: block;
    clear: both;
}
#listholder {
    margin-top: 20px;
}